@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--color-1);
    display: grid;
    grid-template-columns: repeat(10, 1rf);
    grid-template-rows: 95px 1fr;
    column-gap: 2%;
    padding: 23px 1% 0px 1%;
    grid-template-areas: "logo logo menu menu menu menu menu menu opcion opcion"
        "pre pre pre pre pre info info info info info";
}

.div_logo {
    grid-area: logo;
    /* background:orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_logo img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.div_menu {
    /* background:blue; */
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_menu ul{
    display: flex;
    gap: 33px;
}

.div_menu ul li{
    /* background-color: black; */
    list-style: none;
}

.div_menu ul li a{
    color: var(--color-2);
    text-decoration: none;
    font-size: 28px;
}

.div_option{
    grid-area: opcion;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.div_product{
    padding-top: 81px;
    grid-area: pre;
    /* background: blueviolet; */
    width: 780px;
    height: 85vh;
    position: relative;
}

.div_product > img {
    position: absolute;
    right: 52px;
}

.div_ice_cream img:nth-child(1),
.div_ice_cream img:nth-child(2),
.div_ice_cream img:nth-child(3) {
    position: absolute;
    height: 663px;
    object-fit: contain;
    bottom: 0;
}

.div_ice_cream img:nth-child(3) {
    transform: rotate(32.69deg);
    width: 447px;
    height: 753px;
    z-index: 5;
    left: -140px;
}

.div_ice_cream img:nth-child(2) {
    transform: rotate(57.18deg);
    width: 447px;
    height: 832px;
    z-index: 10;
    left: 40px;
    bottom: -80px;
}

.div_ice_cream img:nth-child(1) {
    transform: rotate(85.74deg);
    width: 514px;
    height: 746px;
    z-index: 5;
    left: 45px;
    bottom: -230px
}

.div_info {
    grid-area: info;
    margin-top: 20px;
    /* background: orange; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.div_content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.div_content h1,
.div_content span,
.div_content p {
    color: #fff;
}

.div_content h1 {
    font-size: 40px;
}

.div_content span {
    font-size: 32px;
}

.div_content p {
    font-family: "lelezar-Regular";
    font-size: 16px;
    width: 100%;
    padding: 0 1%;
    
}

.div_info p {
    font-family: "inder-Regular";
    color: #fff;
    font-size: 22px;
    
    
}

.div_info a {
    font-family: "inder-Regular";
    align-self: flex-end;
    margin-top: 72px;
    margin-right: 113px;
}

@media(max-width: 430px) {
    body {
        display: grid;
        padding: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 95px) 50px 1fr 294px;
        grid-template-areas: "logo logo logo "
            "menu menu menu "
            "opcion opcion opcion "
            "pre pre pre "
            "info info info";
    }

    .div_menu {
        /* background-color: violet; */
        grid-area: menu;
        padding: 0 1%;
    }

    .div_menu ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 10px;
    }

    .div_menu ul>li {
        flex: 1;
        /* background-color: purple; */
    }

    .div_menu ul li a {
        width: 150px;
        padding: 5px;
        border: 1px solid #fff;
        border-radius: 18px;
        text-align: center;
        display: block;
    }

    .div_product {
        padding-top: 0;
        grid-area: pre;
        width: 100%;
        height: 550px;
        position: relative;
        overflow: hidden;
    }

    .div_product>img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        z-index: 10;
    }

    .div_ice_cream {
        position: relative;
        width: 100%;
    }

    .div_ice_cream img:nth-child(1),
    .div_ice_cream img:nth-child(2),
    .div_ice_cream img:nth-child(3) {
        transform: rotate(0deg);
        position: absolute;
        height: 500px;
        object-fit: contain;
        inset: 0px;
        margin: 30px auto;
        z-index: -10;
    }

    .div_ice_cream img:nth-child(3) {
        transform: rotate(19deg);
        width: 447px;
        height: 500px;
        z-index: 5;
        left: -100px;
    }

    .div_ice_cream img:nth-child(2) {
        transform: rotate(19deg);
        width: 447px;
        height: 500px;
        z-index: 10;
        left: -15px;
        bottom: 0px;
    }

    .div_ice_cream img:nth-child(1) {
        transform: rotate(19deg);
        width: 514px;
        height: 500px;
        z-index: 5;
        left: 55px;
        bottom: 0px;
    }
}